{% extends 'base.html' %} {% block content %}



<div class="text-center"> 
    <img src="https://gitlab.com/aldariaski/ppw-story-7/-/raw/master/static/Foto%20JasKuning%20di%20Rotunda.PNG" width="200"  class="rounded float-center">
    <!-- Previously https://maung.id/static/5ea17d7a15e02cbcd5626d4df05b4c85/9f583/FR54.jpg
    but the website is down now.
    
    height="280" -->
    <h5> Halo {% if not request.user.is_authenticated %} kamu!</h5>
    <p> (Kamu ketahuan belum login nih hihi) </p> {% endif %} {% if request.user.is_authenticated %} {{user.username}}!</h5> {% endif %}
    <h5> Ini website Yusuf Fakhri Aldrian </h5>
    <p> Seorang pembelajar programming dari Fasilkom UI </p>
    <p class="lead"> Salam kenal! </p>
    <a class="btn btn-success" href="/story7" role="button ">
        <i class="fas fa-user"></i> Accordion (Story 7)
    </a>
    <br><br>
    <a class="btn btn-info" href="/story8" role="button ">
        <i class="fas fa-books"></i> Pustaka (Story 8)
    </a>
    <br><br>
    <h5> ~~ Story 9 ~~ </h5>
    {% if not request.user.is_authenticated %}
    <p class="lead"> Kamu belum login. Kamu bisa... </p>
    <a class="btn btn-success" href="/login" role="button ">
        <i class="fas fa-sign-in"></i> Login
    </a>
    <br><br>
    <a class="btn btn-info" href="/register" role="button ">
        <i class="fas fa-sign-in"></i> Register
    </a>{% endif %} {% if request.user.is_authenticated %}


    <p class="lead"> Kamu, {{user.username}}, sudah login! Kamu bisa....</p>
    <a class="btn btn-secondary" href="/profile/{{user.username}}" role="button ">
        <i class="fas fa-user"></i> Ke profil
    </a>
    <br><br>
    <a class="btn btn-danger" href="/logout" role="button ">
        <i class="fas fa-sign-out"></i> Logout
    </a> {% endif %}
</div>


{% endblock %}
