{% extends 'base.html' %} {% load static %} {% block content %}



<div class="text-center ">
    <h1> Pustaka </h1>
    <h5> Cari buku yang Anda butuhkan. </h5>
    <p class="lead"> Didukung oleh <a href="https://www.googleapis.com/books/v1/volumes?q=">GoogleApi</a> dan Ajax</p>
    <div class="d-flex justify-content-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search-query" style="width: 18rem;">
        <button class="btn btn-outline-success my-2 my-sm-0" id="search" style="width: 5rem;">Search</button>
    </div>

</div>

<div class="d-flex flex-column" id="hasilSearch">
</div>

<script src="{% static 'js/search.js' %}"></script>
{% endblock %}