{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Login</h1>
<div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Kamu bisa gunakan ini</strong><br/>
    <strong>User:</strong> senang.ppw<br/>
    <strong>Password:</strong> xaCw7g@Y@%rSDMBy
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if error %}
<p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
{% endif %}
<form method="POST" action="{% url 'fakhrialdariaskyapp:login_view' %}" class="login-form p-4">
    {% csrf_token %} {{login_form}}
    <button type="submit" id="btn_login" class="btn btn-success">Login</button>
</form>
<p>Belum punya akun? <a href="{% url 'fakhrialdariaskyapp:register_view' %}">Register disini</a>.</p>
<br><br>{% endblock content %}