{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Register</h1>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Requirement password</strong> Lebih dari 8 karakter serta mempunyai alfabet, angka, dan simbol.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% if error %}
<p class="text-center p-2 bg-danger rounded-lg">{{error}}</p>
{% endif %}
<form method="POST" action="{% url 'fakhrialdariaskyapp:register_view' %}" class="login-form p-4">
    {% csrf_token %} {{register_form}}
    <button type="submit" id="btn_register" class="btn btn-success">Register</button>
</form>
<p>Sudah punya akun? <a href="{% url 'fakhrialdariaskyapp:login_view' %}">Login disini</a>.</p>
<br><br>{% endblock content %}