{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Profil {{profile.user.username}}</h1>
<img class="profile-img rounded mx-auto d-block float-right" src="{{profile.profile_picture_url}}" height="120">

<p>Hi {{user.username}}!</p>

<div id="container" class="text-dark">
    <p class="lead">Notes dari {{profile.user.username}}:</p>
    {{profile.description}}
</div>

<br><br>{% endblock content %}