{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Story 7 - Accordion</h1>
<div id="accordion" class="mx-auto my-auto" style="max-width:30rem">
    <div class="group shadow-lg">
        <h3 class="bg-primary text-light pb-3" style="font-size:1.5rem">
            Introduction
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right down" id="down">↓</button>
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right up" id="up">↑</button>
        </h3>
        <div>Hi, I am Yusuf Fakhri Aldrian. I am a computer science student at Fasilkom UI.</div>
    </div>
    <div class="group shadow-lg">
        <h3 class="bg-primary text-light pb-3" style="font-size:1.5rem">
            Showcase
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right down" id="down">↓</button>
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right up" id="up">↑</button>
        </h3>
        <div><img src="https://i.redd.it/7viz67fcfs261.png" height=200px alt=""> Some art I did.</div>
    </div>
    <div class="group shadow-lg">
        <h3 class="bg-primary text-light pb-3" style="font-size:1.5rem">
            Skills
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right down" id="down">↓</button>
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right up" id="up">↑</button>
        </h3>
        <div>-Python<br>-Java<br>-Django Web Development<br>-PHP<br>-Adobe Illustrator
        </div>
    </div>
    <div class="group shadow-lg">
        <h3 class="bg-primary text-light pb-3" style="font-size:1.5rem">
            Message to you
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right down" id="down">↓</button>
            <button type="button" class="btn btn-success btn-sm mx-1 py-0 float-right up" id="up">↑</button>
        </h3>
        <div>Have fun dan tetap semangat! <i class="fal fa-grin-squint"></i></div>
    </div>
</div>


<script src="{% static 'js/accordion.js' %}"></script>
<br><br>{% endblock content %}