{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{% static 'img/django-logo-negative.svg' %}" height=30px alt=""> Yusuf Fakhri Aldrian's PPW
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">


        <a class="navbar-brand" href="#">

        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Beranda</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/story7">Story 7 - Accordion</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/story8">Story 8 - Pustaka</a>
            </li>
            {% if not request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Story 9 - Login</a>
            </li>
            {% endif %} {% if request.user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/profile/{{user.username}}">Story 9 - Profil {{user.username}}</a>
            </li> {% endif %}
        </ul>

        <ul class="navbar-nav my-2 my-sm-0y">

            {% if not request.user.is_authenticated %}
            <li class="nav-item">
                <a class="btn btn-success" role="button" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-info" role="button" href="/register">Register</a>
            </li>
            {% endif %} {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link text-light" href="/profile/{{user.username}}">{{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger" role="button" href="/logout">Logout</a>
            </li> {% endif %}

        </ul>

    </div>
</nav>